body {
  background-color: #FAB0B5;
  font-family: Georgia;
}

h1 {
  color: #8A0606;
  font-family: 'Great Vibes';

}

h2 {
  font-family: Courier;
  color: #470047;
}

h4 {
  font-family: Helvetica;
}

li {
  font-family: "Courier New";
  color: #3A003A;
}

ul {
  background-color: #E7CBCB;
}

p {
  font-family: Georgia;
}
