body {
  background-color: #FAB0B5;
  font-family: Georgia;
}

h1 {
  color: #8A0606;
  font-family: 'Great Vibes';

}

h2 {
  font-family: Courier;
  color: #470047;
}

h4 {
  font-family: Helvetica;
}


li {
  font-family: "Courier New";
  color: #3A003A;
}

ul {

}

p {
  font-family: Georgia;
}

div.header {
  background-color:#37CBDB;
  text-align: center;
}


div.locations {
  background-color: #E7CBCB;
  max-width: 200px;
  float: left;
}


div.cookies {
  background-color: white;
  max-width: 700px;
  float:left;
  padding-left:20px;

}

div.cookieimg {
  float: left
}

